{% extends 'base.html.twig' %}
{% block title %}Author{% endblock %}

{% block body %}
	

<br />
<div class="container">
	<h1>{{ user.nickname }}</h1>

		<p>
			{% if (user.firstname != null) %}
				{{ user.firstname }}, {{ user.lastname }}
			{% endif %}	
		</p>
	
		<h5>My tutorial list :</h5>
					
			<ul class="collection">
				{% if user.tutorials|length == 0 %}
    			 <p> Nothing added yet, get started ?</p>
				{% endif %}
				{% for tutorial in user.tutorials %}
			    
			    <li class="collection-item avatar">
			      <i class="material-icons circle red">play_arrow</i>
			      <span class="title">Title</span>
			      <p>{{ tutorial.title }} <br>
			         {{ tutorial.content }}
			      </p>
			      <a href="profile/tutorial/edit/{{tutorial.id }}" class="secondary-content"><i class="material-icons">edit</i></a>
			    </li>
				{% endfor %}
			</ul>


		{% if is_granted('ROLE_ADMIN') %}
		<h5>User's tutorial list :</h5>
			
			<ul class="collection">
				{% for tutorial in tutorials %}
			    
			    <li class="collection-item avatar">
			      <i class="material-icons circle red">play_arrow</i>
			      <span class="title">Title</span>
			      <p>{{ tutorial.title }} <br>
			         {{ tutorial.content }}
			      </p>
			      <a href="admin/tutorial/edit/{{tutorial.id }}" class="secondary-content"><i class="material-icons">edit</i></a>
			    </li>
				
				{% endfor %}
			</ul>
		{% endif %}


	<a href="/profile/delete" onclick="return confirm('Are you sure ?')" style="color:red">delete my account</a>
		
</div>

{% endblock %}