{% extends 'base.html.twig' %}
{% block title %}Author{% endblock %}

{% block body %}
	

<br />
<div class="container">
	<h1>{{ user.nickname }}</h1>

		<p>
			{% if (user.firstname != null) %}
				{{ user.firstname }}, {{ user.lastname }}
			{% endif %}	
		</p>
		<p>My tutorial list :</p>

		
			<ul class="collection">

				{% for tutorial in user.tutorials %}
			    
			    <li class="collection-item avatar">
			      <img src="images/yuna.jpg" alt="" class="circle">
			      <span class="title">Title</span>
			      <p>{{ tutorial.title }} <br>
			         {{ tutorial.content }}
			      </p>
			      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
			    </li>
				
				{% endfor %}

			    <li class="collection-item avatar">
			      <i class="material-icons circle">folder</i>
			      <span class="title">Title</span>
			      <p>First Line <br>
			         Second Line
			      </p>
			      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
			    </li>
			    <li class="collection-item avatar">
			      <i class="material-icons circle green">insert_chart</i>
			      <span class="title">Title</span>
			      <p>First Line <br>
			         Second Line
			      </p>
			      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
			    </li>
			    <li class="collection-item avatar">
			      <i class="material-icons circle red">play_arrow</i>
			      <span class="title">Title</span>
			      <p>First Line <br>
			         Second Line
			      </p>
			      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
			    </li>
			  </ul>
			

		

	<a href="/profile/delete" style="color:red">delete my account</a>
		
</div>

{% endblock %}