

{% extends 'base.html.twig' %}

{% block title %} All the videos !{% endblock %}
{% block body %}

	<br />

	<div class="container">
		<div class="row">
			<input type="search" id="filter-criteria" style="visibility: hidden;">
			<div class="input-field col s5">
			    <select id="filter-select">
					<option value="all" disabled selected>Select a language/framework</option>
					<option value="all">All</option>
					<option value="filter-1">Symfony</option>
					<option value="filter-2">React/Vue.js</option>
					<option value="filter-3">Php</option>
					<option value="filter-4">Javascript</option>
					<option value="filter-5">Html/CSS</option>
					<option value="filter-6">Ruby</option>
					<option value="filter-7">Other</option>
			    </select>
			    <label>Filter by category</label>
			</div>
		</div>
		
		<br />
		
		{% for tutorial in tutorials %}
			<span  style="float: left; margin-left: 15px;" class="filter-{{tutorial.category.id}} item">

			        <h2>{{ tutorial.title|capitalize }}</h2>

			        <p>
			          	<a href="{{ tutorial.link|replace({'embed/':'watch?v='}) }}">Direct link</a> - 
					        {{ tutorial.category.name }}
			    	</p> 
					
					<iframe width="560" height="315" src="{{ tutorial.link|embed(tutorial.link) }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<p>
						Ajouté le : {{ tutorial.createdAt | date('Y-m-d') }}
					</p>
			</span>
		{% endfor %}


				{# total items count #}
				<div class="count">
					{{ pagination.getTotalItemCount }}
				</div>
				<table>
				<tr>
					{# sorting of properties based on query components #}
					<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
					<th 
						{% if pagination.isSorted('a.Title') %} 
							class="sorted" 
						{% endif %}>
						{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
					</th>
					<th>
						{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
					</th>
				</tr>

				{# table body #}
				{% for tutorial in pagination %}
				<tr {% if loop.index is odd %}class="color"{% endif %}>
					<td>{{ tutorial.id }}</td>
					<td>{{ tutorial.title }}</td>
					 <td>{{ tutorial.createdAt | date('Y-m-d') }}</td>
				</tr>
				{% endfor %}
				</table>
				{# display navigation #}

				<div class="navigation pagination">
				{{ knp_pagination_render(pagination) }}
				</div>

				<style>{# style for the pagination #} 
					.pagination span.current {
						color: #fff;
						background: #EE6E73;
						font-size: 1.4rem;
					    padding: 0 10px;
					    line-height: 34px;
					    border-radius: 2px;
					}					
					.pagination a {
					    color: #444 !important;
					    font-size: 1.4rem;
					    padding: 0 10px;
					    line-height: 34px;
					}
				</style>
		

	</div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script type="text/javascript">

		$('#filter-criteria')
			.add('#filter-select').add('#filter-select2').on('keyup change', function() {
		    $('.item').hide();

		    var txt = $('#filter-criteria').val();
		    var select = $('#filter-select').val();
		       
		    select = select == "all" ? "item" : select;
		    
		    txt = txt == "" ? "item" : txt;
		    $('.item').each(function() {
		        var $this = $(this)
		        if ($this.is('[class*=' + txt + ']') && $this.is('[class*=' + select + ']'))
		        {
		            $this.show();
		        }
		    });
		});

		/* source : https://codepen.io/munfactory/pen/QmmWRg no need to reinvent the wheel */

	</script>



{% endblock %}

