<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <!-- import icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Adding Materialize.css -->
        <link href="{{ asset('assets/css/materialize.min.css') }}" rel="stylesheet"/>
  		<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
        

    </head>
    <body>
    	<div class="navbar-fixed">
		    <nav>
				<div class="nav-wrapper">
				<a href="/" class="brand-logo">&nbsp;Symfony 4</a>
					<ul class="right hide-on-med-and-down">

						{% if is_granted( 'IS_AUTHENTICATED_FULLY') %}

						<li><a href="/profile"><i class="material-icons right">account_circle</i>{{ app.user.nickname }}</a></li>

						<li><a href="/logout"><i class="material-icons right">lock</i>Logout</a></li>

						{% else %}
						
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign In</a></li>						
						
						{% endif %}
												

						<li><a href="https://github.com/julien-lav/symfony4_tutorial">Github</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
		    </nav>
		 </div>

		 <div class="container">
		 		{% if is_granted( 'IS_AUTHENTICATED_FULLY') %}

				{% endif %}
		 </div>

        {% block body %}{% endblock %}
       
        {% block javascripts %}
        	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  			<script type="text/javascript" src="{{ asset('assets/js/materialize.min.js') }}"></script>
  			<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
